* text=auto
*.py text eol=lf
*.js text eol=lf
*.cjs text eol=lf
*.json text eol=lf
*.lock text eol=lf
*.txt text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.html text eol=lf
*.css text eol=lf
*.ps1 text eol=crlf
*.png binary
*.jpg binary
*.blend binary
*.stl binary
*.3mf binary
*.FCStd binary
